@model MagdalenaBE.ActividadBE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <hr />
        @Html.ActionLink("Volver al Inicio", "Inicio")
        <hr />

        <form action="~/Inicio/GrabarActividad" method="post">
            <dl>
                <dt>
                    @Html.LabelFor(model => model.Descripcion)
                </dt>
                <dd>
                    @Html.TextBoxFor(model => model.Descripcion, new { style = "width:650px;" })
                </dd>
                <dt>
                    @Html.LabelFor(model => model.FechaInicio)
                </dt>
                <dd>
                    @Html.TextBoxFor(model => model.FechaInicio, new { type = "date" })
                </dd>
                <dt>
                    @Html.LabelFor(model => model.IdPrioridad)
                </dt>
                <dd>
                    @Html.DropDownListFor(model => model.IdPrioridad, new SelectList(ViewBag.ListaPrioridad, "Id", "Descripcion" ))
                </dd>
            </dl>
            <input type="submit" value="Crear Actividad" />
        </form>
    </div>
</body>
</html>
